#chart{
  background-color:rgb(55, 54, 54);
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
}

/* table article  */
tbody tr td .content-table {
  display: flex;
  flex-flow: row wrap;

  width: 400px;
}
.table.select-table td h6, .table.select-table td .h6 {
  white-space: normal; 
  color: rgb(31, 32, 32);
}
