* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #f3f3f3;
    background: #101010;

}

:root {
    --font-size-mobile-header: 9px;
    --font-size-mobile-body: 12px;
    --font-size-mobile-footer: 11px;
    --font-size-web: 14px;
    --color-basic: #eaeaea;
    --color-bacic2: #2b2e37;
    --color-basic3 : #141416;
    --color-basic4: #cac3c3bb;
    --color-basic5 : #141416;
    --color-basic-fade: #727171;
    --color-lifestyle: #8154ef;
    --color-music: #ff6363;
    --color-border: #f68e56;
    --color-culinary: #82ca9c;
    --color-master: #fec322;
    --color-master2: #ffc013;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.3;
    font-weight: 500;
}

p {
    font-family: "Roboto", sans-serif;
    color: #a4a4a4;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #a6a6a6;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

ul {
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: #f2f4f5;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.bg-fixed {
    background-attachment: fixed !important;
}

input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-50 {
    padding: 50px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.pt-30 {
    padding-top: 30px;
}


.navbar-brand {
    z-index: 100;
    position: relative;
}



@media (max-width: 575.98px) {
    section {
        max-width: 1200px;
    }

    .detail-s .populer-post {
        margin: 30px 0;
    }

    .side-content .ads img {
        color: #3d3d3d;
        font-size: 20px;
        margin: 30px 0;
    }



    .detail-article .user-profile {
        display: flex;
        padding-top: 5px;
        margin-top: 10px;
        border-top: 1px solid #d3d1d1;
    }

    .detail-article .user-profile img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 20px;
    }

    .detail-article .title h2 {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: var(--color-basic);
    }

    .detail-article .title .title-footer {
        display: flex;
        justify-content: center;
    }

    .detail-article .title .title-footer .sosmed {
        margin: 0 20px 0 20px;
    }

    .detail-article .title .title-footer .sosmed img {
        width: 20px;
        margin: auto;
    }

    .detail-article .main-article-detail .article-body p {
        font-size: 14px;
        color: #3d3d3d;
    }

    .main-article-detail {
        max-width: 1200px;
    }

    .detail-article .main-detail-container .main-detail-body .article-body {
        padding: 10px 20px;
    }

    .swiper-slide {
        box-shadow: 0 0 10px rgba(104, 104, 104, 0.801);
    }

    .main-one {
        display: block;
    }

    .main-one-body {
        display: block;
    }

    .main-headline {
        height: 300px;
    }

    .main-headline .img-headline {
        object-fit: cover;
        position: relative;
        z-index: -1;
        width: 100%;
        height: 200px;
    }

    .content-body {
        z-index: 2;
        position: relative;
        left: 10px;
        right: 10px;
        width: 300px;
    }

    .content-body p {
        font-size: 12px;
        font-weight: bold;
        bottom: 20px;
        position: absolute;
        margin-bottom: 5px;
    }

    .main-one .content-body h2 {
        font-size: 16px;
        color: #202121;
    }

    .content-body .title {
        margin-bottom: 10px;
        bottom: 95px;
        font: bold;
        color: white;
        font-size: 19px;
        position: absolute;
    }

    .main-headline-second {
        height: 200px;
        display: block;
        justify-content: center;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.877) 0%, rgba(7, 7, 7, 0.021) 100%, rgba(7, 7, 7, 0.116));
    }

    .headline {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .headline .main-headline-second {
        height: 180px;
    }

    .headline .main-headline-second .img-headline-second {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
        height: 180px;
    }

    .main-headline-second .headline-second-body {
        width: 150px;
        bottom: 50px;
        left: 10px;
        position: relative;
        z-index: 2;
    }

    .headline .main-headline-second .headline-second-body .category {
        position: relative;
        font-weight: bold;

        bottom: 20px;
        font-size: 20px;
        border: 10px;
        padding: 2px 30px;
        background-color: #182fff;
        color: white;
    }

    .headline-second-body h2 {
        font-size: 11px;
        color: rgb(255, 255, 255);
        font: bold;
        bottom: 30px;
    }

    /* MAIN_TWO */
    .main-two {
        padding: 10px 0 30px 0;
    }

    .main-two-all .main-two-body .content-all img {
        z-index: -1;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .main-two-all .main-two-body .content-all .sidebar-body h2 {
        font: 10px bold;
    }

    .main-two-all .main-two-body {
        margin: 0;
    }

    .main-two-all .main-two-body .main-two-title {
        padding: 6px 0;
        margin: 20px 0;
        border-left: 6px solid var(--color-master);
    }

    .main-two-all .main-two-body .main-two-title h2 {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin: 0 10px;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide {
        border-radius: 10px;

        border: 1px solid var(--color-bacic2);
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide .content .sidebar-body-text p {
        color: var(--color-basic4);
        font: 14px bold;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide .content .sidebar-body-text {
        padding: 0 10px;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide h2 {
        font-size: 16px;
        font: bold;
        color: #3d3d3d;
    }

    .main-two .swiper-slide .sidebar-footer-text {
        display: flex;
        padding: 5px 10px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid var(--color-bacic2);
        background-color: #ffffff;
        align-items: center;
    }

    .main-two .swiper-slide .sidebar-footer-text p {
        font-size: 14px;
        margin: auto 0;
        color: #615f5f;
    }

    .main-two .swiper-slide .sidebar-footer-text i {
        font-size: 14px;
        color: #615f5f;
        font-weight: bold;
        margin-left: 25px;
    }

    .main-two .main-two-all {
        display: grid;
        grid-template-columns: 100%;
    }

    .swiper-slide .content .sidebar-img .category {
        position: relative;
        bottom: 35px;
        left: 10px;
        border: 10px;
        font-size: 14px;
        padding: 2px 15px;
        color: white;
    }

    .swiper .swiper-pagination {
        position: relative;
        padding-top: 20px;
    }

    .swiper-pagination-bullet-active {
        color: #000000 !important;
        background-color: #fa4b3e;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 200px;
        border-radius: 8px 8px 0 0;
        object-fit: cover;
    }

    /* MAIN-THREE */
    .main-three .container {
        max-width: 1200px;
    }

    .main-three .main-three-all .main-three-body .content {
        height: 160px;
        margin: 10px 0;
        box-shadow: 0 0 10px rgba(202, 201, 201, 0.137);
        border: 1 solid var(--color-basic);
    }

    .main-three .main-three-all .main-three-body {
        margin: 40px 0;
    }

    .main-three .main-three-all .content .sidebar-img img {
        width: 300px;
        position: relative;
        object-fit: cover;
        width: 300px;
        height: 100%;
        border-radius: 8px 0 0 8px;
    }

    .main-three .main-three-all .content .sidebar-body {
        background-color: #ffffff;
        border: 1px solid var(--color-basic);
        position: relative;
        border-radius: 0 8px 8px 0;
        height: 100%;
        padding: 6px;
        margin: auto;
    }

    .main-three .main-three-all .content .sidebar-body .category {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main-three .main-three-all .content .sidebar-body h2 {
        font-size: 18px;
        font: bolder;
        margin: 5px 0;
        color: #050505;
    }

    .main-three .main-three-all .content .sidebar-body .sidebar-footer-text p {
        display: none;
    }

    .main-three .main-three-all .content .sidebar-body .sidebar-footer-text i {
        font-size: var(--font-size-mobile-footer);
        color: var(--color-basic-fade);
    }

    .main-three .main-three-all .content .sidebar-body p {
        font-size: var(--font-size-mobile-body);
        margin: 0;
        color: var(--color-basic4);
    }

    .main-three .main-three-side .body-side .content-body {
        z-index: 2;
        position: relative;
        left: 10px;
        margin: auto;
        right: 10px;
        width: 300px;
    }

    .main-three .main-three-side .body-side .content-body p {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        color: red;
    }

    .main-three .main-three-side .body-side .content-body h2 {
        font-size: 16px;
        bottom: 0;
        color: #202121;
    }

    .main-three .main-three-side .body-side .content-body .title {
        width: 300px;
        margin-bottom: 10px;
        font: bold;
        font-size: 19px;
        position: relative;
    }

    .main-three .main-three-title h2 {
        margin-left: 5px;
        font-size: 18px;
        color: #3d3d3d;
        margin: 0 10px;
    }

    .main-three .main-three-all .category-article {
        margin-top: 20px;
    }

    .main-three .main-three-all .category-article span {
        padding: 6px 20px;
        cursor: pointer;
        margin-right: 2px;
        border-radius: 4px;
        color: #252525;
        background-color: white;
        border: 0.5px solid #e9e9e9;
    }

    .main-three .main-three-all .category-article .active {
        background-color: var(--color-master);
        border: none;
        color: white;
    }

    .main-three-side {
        margin: 40px 0 0 0;
        padding: 0;
        height: 100%;
    }

    .main-three-side .body-slide-all .body-side {
        display: flex;
        padding: 5px;
        margin: 5px 0;
        box-shadow: 0 0 10px #eeeeee;
        background-color: #f3f3f3;
        /* border: 1px solid #dfdddd; */
        border: 2px solid #000000;
    }

    .main-three-side .body-slide-all {
        background-color: #a2abad;
    }

    .main-three-side .body-side .body-img img {
        width: 120px;
        border-radius: 19px;
    }

    .main-three-side .body-slide-two .body-side .content-body {
        color: var(--color-basic);
    }
}



@media (min-width: 1200px) {
    .detail-article .main-one-body .main-headline .content-body h2 {
        font-size: 28px;
        font-weight: 700;
    }

    /* MAINONE */
    .main-one {
        background-image: url("../image/bg/bg-souja.jpg")
    }

    .main-one-body {
        max-width: 1360px;
        margin: auto;
        display: grid;
        position: relative;
        z-index: 50;    
        grid-template-columns: 60% 40%;

    }

    .main-headline {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.877) 0%, rgba(7, 7, 7, 0.021) 100%, rgba(7, 7, 7, 0.116));
    }

    .main-headline .img-headline {
        object-fit: cover;
        position: relative;
        z-index: -1;
        height: 100%;
    }

    .main-one-body .main-headline .content-body .category {
        position: relative;
        bottom: 20px;
        font-size: 20px;
        border: 10px;
        padding: 5px 30px;
        color: white;
    }

    .main-one-body .main-headline .content-body .title {
        font-size: 28px;
        font-weight: bold;
    }

    .main-one-body .main-headline .content-body .category p {
        font-size: 18px;
    }

    section {
        margin: auto;
    }

    .img-detail img {
        object-fit: cover;
        width: 100%;
    }

    .detail-s {

        margin: auto;
    }

    .detail-s .populer-post {
        padding: 20px 0 0 0;
    }

    .detail-s .populer-post h2 {
        color: var(--color-basic);
        font-size: 24px;
        margin-left: 20px;
        padding-left: 10px;
        border-left: 5px solid var(--color-master);
        font-weight: bold;
    }

    .detail-s .populer-post .swiper {
        margin: 30px 0;
        padding: 0 20px;
    }

    .detail-s .populer-post .swiper .content .sidebar-body {
        position: absolute;
        border-radius: 8px;
        padding: 10px;
        bottom: 0px;
    }

    .detail-s .populer-post .swiper .content .sidebar-body .sidebar-body-text {
        color: white;
    }

    .detail-s .populer-post .swiper .content .sidebar-body .sidebar-body-text p {
        font-size: 12px;
        margin: 0 20px;
        color: white;
    }

    .detail-s .populer-post .swiper .content .sidebar-body .sidebar-body-text h2 {
        color: white;
        border: none;
        padding: 0;
    }

    .detail-s .populer-post .swiper .content .sidebar-img::before {
        z-index: -30px;
        background: black;
        width: 100%;
    }

    .detail-s .populer-post .swiper .content .sidebar-img:hover {
        border-radius: 8px;
    }

    .detail-s .populer-post .swiper .content .sidebar-img::after {
        background: black;
        z-index: -30px;
        border-radius: 8px;
        width: 100%;
    }

    .detail-s .populer-post .swiper .content .sidebar-img img:hover {
        border-radius: 8px;
        opacity: 0.5;
    }

    .detail-s .populer-post .swiper .content .sidebar-img img {
        border-radius: 8px;
        object-fit: cover;
        height: 300px;
    }

    .main-detail-body .article-body {
        padding: 10px 20px;
    }

    .main-detail-body {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .main-detail-body .article-body .title {
        margin-top: 20px;
    }
    .main-detail-body .side-content .side-article {
        position: sticky;
        background-color: var(--color-basic5);
        margin: 30px 0;
        border: 1px solid var(--color-bacic2);
        padding-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .main-detail-body .side-content .side-article .title h2 {
        padding: 10px;
        text-align: left;
        background-color: var(--color-master);
        font-size: 18px;
        color: #333333;
        font-weight: bold;
    }

    .main-detail-body .side-content .side-article .body-side {
        display: flex;
        padding: 0 10px;
        margin-top: 20px;
    }
    .main-detail-body .side-content .side-article .body-side:last-child(){
        padding-bottom: 10px;
    }
    .main-detail-body .side-content .side-article .body-side h2 {
        font-size: 15px;
        font-weight: bold;
        color: var(--color-basic);
    }

    .main-detail-body .side-content .side-article .body-side h2:hover {
        color: var(--color-master);
    }
    /*
    *** user-profile ***
    */
    .main-detail-body .side-content .side-article .body-side h1 {
        color: #a4a4a4;
    }

    /* detail article */
    .container .detail-article .main-article-detail .user-profile {
        display: flex;
        padding: 15px 0;
        border-top: 1px solid #b1afaf;
    }

    .detail-article .user-profile span {
        color: var(--color-basic);
        font-weight: bold;
    }

    .container .detail-article .main-article-detail .user-profile .img img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 20px;
    }

    .detail-article .title h2 {
        text-align: center;
        font-weight: bold;
        font-size: 28px;

        color: var(--color-basic);
    }

    .detail-article .title .title-footer {
        display: flex;
        justify-content: center;
    }

    .detail-article .title .title-footer .sosmed {
        margin: 0 20px 0 20px;
    }

    .detail-article .title .title-footer .sosmed img {
        width: 20px;
        margin: auto;
    }
    
    .detail-article .main-article-detail .article-body p {
        font-size: 16px;
        color: var(--color-basic4);
    }
    .detail-article .main-article-detail .article-body .time p {
        color: var(--color-basic);
    }

    .body-side .content-body {
        margin: auto;
        left: 15px;
    }

    .content-body {
        z-index: 2;
        position: relative;
        left: 10px;
        right: 10px;
        width: 300px;

    }

    .all-article-main-three .content .content-body p {
        font-size: 14px;
        margin: 0;
    }

    .all-article-main-three .content .content-body h2 {
        margin: 0;
        padding: 0;
        bottom: 30px;
        font-size: 14px;
        padding-right: 10px;
    }

    .main-one-body .main-headline .content-body {
        z-index: 2;
        position: absolute;
        bottom: 40px;
        left: 20px;
        right: 20px;
        width: 600px;
    }

    .main-one-body .main-headline .content-body p {
        font-weight: bold;
    }

    .main-one-body .main-headline .content-body p:nth-last-child(1) {
        font-weight: normal;
    }

    .main-headline-second {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.877) 0%, rgba(7, 7, 7, 0.021) 100%, rgba(7, 7, 7, 0.116));
    }

    .main-headline-second .headline-second-body:nth-child(1n) {
        width: 500px;
        bottom: 180px;
        left: 20px;
        position: relative;
        z-index: 2;
    }

    .main-headline-second .headline-second-body p {
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    .main-headline-second .headline-second-body .category {
        position: relative;
        bottom: 20px;
        font-size: 20px;
        border: 10px;
        padding: 5px 30px;
        color: white;
    }

    .headline {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .headline-second-body h2 {
        font-size: 28px;
        color: rgb(255, 255, 255);
        font-weight: 700;
    }

    /* 
    ** MAIN TWO ** 
    */
    /* .main-two .container{
        border-bottom: solid 1px black;
    } */
    /* must populer 1200  */
    .main-two-all .main-two-body {
        display: block;
    }

    .main-two-all .main-two-body .content-all img {
        z-index: -1;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide {
        border-radius: 8px;
        
        border: 1px solid var(--color-bacic2);
    }

    .main-two-all .main-two-body .content-all .category {
        position: relative;
        left: 10px;
        z-index: 2;
        font: 12px;
        color: white;
        padding: 2px 15px;
        background-color: #ff6363;
    }

    .main-two-all .main-two-body .content-all .content {
        margin: 0 20px;
    }

    .main-two {
        padding: 20px;
    }

    .main-two .swiper .swiper-slide .content .sidebar-body {
        padding: 10px 20px;
        color: var(--color-basic);
    }

    .main-two .swiper-slide .sidebar-footer-text {
        display: flex;
        align-items: center;
        padding-top: 5px;
        border-top: 1px solid var(--color-bacic2);
    }

    .main-two .swiper-slide .sidebar-footer-text p {
        font-size: 14px;
        text-align: center;
        display: flex;
        margin: auto 0;
        align-items: center;
        margin-right: 40px;
    }

    .main-two .swiper-slide .sidebar-footer-text span {
        font: bold;
    }

    .main-two .swiper-slide .sidebar-footer-text i {
        font-size: 14px;
        color: #a6a6a6;
        right: 0;
    }

    .main-two-all .main-two-body .content-all .sidebar-body h2 {
        font: 20px bold;
    }

    .main-two-all .main-two-body .main-two-title {
        padding: 6px 0;
        margin: 0 0 20px 0;
        border-left: 6px solid var(--color-master);
    }

    .main-two-all .main-two-body .main-two-title h2 {
        font-size: 24px;
        margin: 3px 10px;
        color: white;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide .content .sidebar-body-text p {
        color: var(--color-basic4);
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide .content .sidebar-body-text i {
        margin: 0 0 50px 0;
        font-size: 12px;
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide h2 {
        font-size: 24px;
        margin-top: 5px;
        font-weight: bold;
        color: var(--color-basic);
    }

    .main-two-all .main-two-body .swiper .swiper-wrapper .swiper-slide h2:hover {
        color: #5c5c5f;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 300px;
        border-radius: 8px 8px 0 0;
        object-fit: cover;

    }

    .swiper-slide img:hover {
        opacity: 0.7;
        border-radius: 8px 8px 0 0;
    }

    .swiper-slide .content .sidebar-img:hover {
        background-color: #141313;
        border-radius: 8px 8px 0 0;
        height: 300px;
    }

    .swiper-slide .content .sidebar-img {
        height: 300px;
        border-radius: 8px;
    }

    .swiper-slide .content .sidebar-img .category {
        position: relative;
        bottom: 40px;
        left: 10px;
        border: 10px;
        padding: 5px 30px;
        color: white;
    }

    .swiper .swiper-pagination {
        position: relative;
        padding-top: 20px;
    }

    /* MAIN-THREE */

    .main-three .container {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .main-three .main-three-all .main-three-headline {
        margin-top: 40px;
        z-index: 50;
        display: block;
        width: 100%;
    }

    .main-three .main-three-all .main-three-headline .headline {
        position: relative;
    }

    .main-three .main-three-all .main-three-headline .headline .text h1 {
        width: 100%;
        font-weight: bold;
        margin-top: 20px;
        font-size: 24px;
    }

    .main-three .main-three-all .main-three-headline .headline .text p {
        color: #d1d1d1;
    }

    .main-three .main-three-all .main-three-headline .headline .text {
        position: absolute;
        bottom: 30px;
        width: 600px;
        left: 30px;
        display: block;
        z-index: 2;
    }

    .main-three .main-three-all .main-three-headline .content-medium .text span:nth-child(1) {
        background-color: var(--color-music);
        padding: 5px 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .main-three .main-three-all .main-three-headline .content {
        position: relative;
        width: 96%;
        /* border: 1px solid var(--color-bacic2); */
        border-radius: 8px;
        background-color: var(--color-basic5);
        display: flex;
    }

    .main-three .main-three-all .main-three-headline .content .content-body {
        width: 100%;
        margin: auto 10px;
    }
   

    .main-three .main-three-all .main-three-headline .content .content-body p {
        width: 500px;
        margin: 0 0 5px 0;
        font-size: 14px;
        color: var(--color-basic4);
    }


    /* content-medum */
    .main-three .main-three-all .main-three-headline .all-article-main-three .content-medium {
        width: 96%;
        position: relative;
        margin: 30px 0;
        border-radius: 8px;
        background: linear-gradient(253deg, #1b55a1 0%, #79b3ff 100%);
        display: flex;
    }

    .main-three .main-three-all .main-three-headline .all-article-main-three .content-medium .text {
        margin: auto;
        padding: 0 20px;
        color: #ffffff;
        ;
        position: relative;

    }

    .main-three .main-three-all .main-three-headline .content-medium .text h1 {
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 20px;
    }

    .main-three .main-three-all .main-three-headline .all-article-main-three .content-medium .img-content img {
        width: 500px;
        height: 200px;
        object-fit: cover;
        border-radius: 0 8px 8px 0;
    }

    .main-three .main-three-all .main-three-headline .content .content-body h1 {
        color: var(--color-basic);
        font-weight: 600;
        font-size: 24px;
    }
    .main-three .main-three-all .main-three-headline .content .content-body h1:hover {
        color: var(--color-basic4);
        font-weight: 600;
        font-size: 24px;
    }

    .main-three .main-three-all .main-three-headline .content .content-body span {
        color: var(--color-basic-fade);
    }

    .main-three .main-three-all .main-three-headline .content .content-body span p {
        color: var(--color-basic-fade);
    }

    .main-three .main-three-all .main-three-headline .content .content-img:hover {
        width: 350px;
        height: 100%;
        z-index: 50;
        object-fit: cover;
        background-color: #000000;
    }

    .main-three .main-three-all .main-three-headline .content .content-img img {
        width: 350px;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .main-three .main-three-all .main-three-headline .content .content-img img:hover {
        opacity: 0.7;
    }

    .main-three .main-three-all .main-three-headline .headline .text span {
        padding: 5px 30px;
        color: white;
        font-weight: bold;
    }

    .main-three .main-three-all .main-three-headline .headline img:hover {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        height: 350px;
        opacity: 0.7;
        z-index: -5;
        background-color: #000000;
    }

    .main-three .main-three-all .main-three-headline .headline:hover {
        background-color: #000000;
        width: 96%;
    }

    .main-three .main-three-all .main-three-headline .headline {
        width: 96%;
        cursor: pointer;
        border-radius: 8px;
    }

    .main-three .main-three-all .main-three-headline .headline img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        height: 350px;
        z-index: -5;
    }

    .main-three .main-three-all .content {
        height: 160px;
        margin: 20px 0;
        border: 1 solid var(--color-basic);
    }

    .main-three .main-three-all .content .sidebar-img {
        height: 150px;
    }

    .main-three .main-three-all .content .sidebar-img img {
        width: 300px;
        object-fit: cover;
        height: 180px;
        border-radius: 8px 0 0 8px;
    }

    .main-three .main-three-all .content .sidebar-body {
        position: relative;
        height: 180px;
        border: solid 1px var(--color-bacic2);
        border-radius: 0 8px 8px 0;
        padding: 10px;
        background-color: var(--color-basic3);
        margin: 0;
    }

    .main-three .main-three-all .content .sidebar-body .category {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .main-three .main-three-all .content .sidebar-body h2 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 7px;
        color: var(--color-basic);
    }

    .main-three .main-three-all .content .sidebar-body .sidebar-footer-text {
        display: flex;

    }

    .main-three .main-three-all .content .sidebar-body .sidebar-footer-text p {
        display: none;
        font-size: 10px;
    }

    .main-three .main-three-all .content .sidebar-body .sidebar-footer-text i {
        font-size: 12px;
        color: var(--color-basic-fade);
        margin: 5px 0;
    }

    .main-three .main-three-all .content .sidebar-body p {
        font-size: 12px;
        margin: 0;
        color: var(--color-basic4);
    }

    .main-three .main-three-title h2 {
        margin-left: 5px;
        font-size: 18px;
        color: var(--color-basic);
        margin: 0 10px;
    }

    .main-three .main-three-all .category-article {
        margin-top: 20px;
    }

    .main-three .main-three-all .category-article span {
        padding: 6px 20px;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 4px;
        background-color: white;
        color: #242425;
        border: 0.5px solid #e9e9e9;
    }

    .main-three .main-three-all .category-article span:hover {
        background-color: var(--color-master);
        color: white;
    }

    .main-three .main-three-all .category-article .active {
        background-color: var(--color-master);
        border: none;
        color: black;
    }

    .main-three .main-three-all .main-three-body {
        margin-top:30px;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .main-three .main-three-all .main-three-body .content {
        margin-right: 30px;
        border-radius: 8px 8px 0 0;
    }

    .main-three-side {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    /* iklan ke 1 */
    .main-three-side .head-side img {
        width: 100%;
        object-fit: cover;
    }

    .main-detail-body .ads {
        width: 100%;
    }

    .side-content {
        margin: 20px 10px 20px 10px;
    }

    .side-content .ads img {
        width: 100%;
        margin: 0;
        object-fit: cover;
    }

    .ads .ads-container {
        margin: auto;
        max-width: 1355px;
       
    }
    .ads .container {
        margin: auto;
        max-width: 1355px;
    }
    .ads .container .row .col {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .ads-container img {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .ads-footer .ads-container {
        max-width: 1200px;
        display: flex;
        margin: auto;
    }
    /* iklan ke 2 */
    .main-three-side .second-side {
        position: sticky;

    }

    .main-three-side .second-side img {
        width: 100%;
        margin:30px 0 0 0;
        object-fit: cover;
    }

    .main-three-side .body-slide-all .body-side {
        display: flex;
        position: relative;
        margin: 20px 0;
    }

    .main-three-side .body-slide-all .body-side:last-child() {
        margin-bottom: 20px;
    }

    .main-three-side .body-slide-all .body-side:nth-child(3n-1) {
        margin: auto;
        padding: 0;
    }

    .main-three-side .body-slide-all .body-side span {
        font-weight: bold;
        width: 100px;
        color: var(--color-basic);
        /* border: 1px solid black; */
    }


    .main-three-side .body-slide-all {
        /* background-color: var(--color-basic5); */
        border-radius: 0 0 8px 8px;
        /* position: sticky; */
        margin: auto;
        padding: 10px 0 20px 0;
        display: block;
    }

    .main-three-side .body-slide-all .title span {
        font-weight: bold;
        position: relative;
        display: block;
        width: 180px;
        border-radius: 8px;
        border: 1px solid var(--color-master);
        padding: 5px 10px;
        background-color: var(--color-master);
        color: #333333;
        left: 10px;
        margin: 10px 0;
        font-size: 18px;

    }

    /* berita */
    .main-three-side .body-slide-two .title h2 {
       
        padding: 10px;
        background-color: var(--color-master);
        font-size: 18px;
        color: #333333;
        font-weight: bold;

    }

    .main-three-side .body-slide-two .v-details{ 
        text-align: center; 
        margin: 10px auto;
        padding: 5px 10px;
        color: #839fcf;
        background-color: #3d3d3d;
        /* border: 1px solid #a0a09d; */
        border-radius: 8px;
        width: 200PX;
    }
    .main-three-side .body-slide-all .body-side h2 {
        margin: 2px 0;
        color: var(--color-basic);
        padding: 0;
        font-size: 13px;
        position: relative;
        padding-right: 10px;
        font-weight: bold;
    }

    .main-three-side .body-slide-all .body-side h2:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--color-basic-fade);

    }

    /* body-slide-two */
    .main-three-side .body-slide-two {
        margin-top: 30px;
        padding: 0 0 20px 0;
        background-color: var(--color-basic5);
        color: var(--color-basic);
        display: block;
        border-radius: 0 0 8px 8px;
        position: sticky;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        top: 40px;
    }

    .main-three-side .body-slide-two .body-side {
        display: flex;
        padding: 0 10px;
        margin-top: 20px;
    }

    .main-three-side .body-slide-two .body-side .left-text h1 {
        margin: 0;
        color: #a4a4a4;
        padding: 0;
        padding-right: 10px;
    }

    .main-three-side .body-slide-two .body-side .content-body h2 {
        color:#fffff1;
        font-family: 400;
        font-size: 16px;
    }
    .main-three-side .body-slide-two .body-side .content-body h2:hover {
        text-decoration: underline;
        color: var(--color-basic-fade);
        font-weight: bold;
        font-size: 16px;
    }
    .main-three-side .body-side-all .body-side .content-body p {
        margin: 0;
    }

    /* end body-slide-two */

    /* .main-three-side .body-side {
        border: 0.5px solid #d4d4d4;
    } */
    .main-three-side .body-side .body-img img {
        width: 90px;
        object-fit: cover;
        height: 100%;
        border-radius: 5px;
        margin: 0 10px;
        /* border-radius: 2px; */
    }

}


.main-one-body .sidebar {
    width: 100%;
    margin: 20px;
    display: grid;
    background-color: #ffffff;
}

.sidebar-title {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
}

.sidebar-title-2 {
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-content {
    margin: auto;
    display: grid;
    padding: 20px 0 0 0;
    grid-template-rows: 25% 25% 25% 25%;
}

.sidebar .sidebar-content .content {
    margin: 0;
}

.sidebar-title h2 {
    margin: 0 50px;
    color: #000000;
}

.sidebar-title .active {
    padding-bottom: 4px;
    border-bottom: 1px solid #202121;
}

.main-headline-second {
    height: 400px;
    display: block;
    justify-content: center;
}

.main-headline-second .img-headline-second {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    height: 400px;
}


/* MAIN THREE */
.main-three {
    z-index: 50;
    padding: 50px 0;
    margin: auto;
}

.main-three .main-three-all .content {
    display: flex;
}

.main-three-title {
    padding: 6px 0;
    border-left: 5px solid var(--color-master);
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* box-shadow: -1px 0px 21px -8px rgb(212, 212, 212); */
}

.main-two-all .swiper-slide:nth-child(1n) {
    width: 80%;
}

.main-two-all .swiper-slide:nth-child(2n) {
    width: 80%;
}

.main-two-all .swiper-slide:nth-child(3n) {
    width: 80%;
}

.lifestyle {
    color: var(--color-lifestyle);
}

.Lifestyle {
    background-color: var(--color-lifestyle);
}

.music {
    color: var(--color-music);
}

.Music {
    background-color: var(--color-music);
}

.culinary {
    color: var(--color-culinary);
}

.Culinary {
    background-color: var(--color-culinary);
}

/* pop up */
.alert-ads {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    z-index: 99;
    background-color: #00000069;
}

.alert-ads .alert-body {
    position: relative;
    margin: auto;
    width: 600px;
    background-color: #82ca9c;
}

.alert-ads .alert-body .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    color: rgba(219, 215, 215, 0.39);
    z-index: 99;
}

.alert-ads .alert-body .close:hover {
    color: rgb(255, 255, 255);
}

.alert-ads .alert-body img {
    position: relative;
    margin: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.widget {
    display: flex;
}